@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto {font-family: "Roboto", serif;}
.archivo {font-family: "Archivo", serif;}
.roboto-mono {font-family: "Roboto Mono", monospace;}

* {box-sizing:border-box; scroll-behavior: smooth; scroll-snap-type: proximity; font-family: var(--archivo);}
html {max-width: 100vw; overflow-x: hidden;}
body {width: 100%; margin: 0px; z-index: 1;}


:root {
    --pink: rgb(219, 82, 82);
    --pink-opaque: rgba(219, 82, 82, 0.6);
    --white: rgba(255,255,255,1);
    --white-opaque: rgba(255,255,255,0.6);
    --white-opaque-2: rgba(255,255,255,0.1);
    --yellow: #f8d962;
    --deep-purple: #291451;
  --magenta: #9d2e64;
  --blue: #4069d4;
  --orange: #ef8751;
  --aqua: aqua;
  
  --white: #fdf6f7;
  --cyan: #78e3e9;
  --dark-gray: #262626;
    --navy: #1d1224;
    --offblack1: #000000;
    --offblack2: #141414;
    --roboto: "Roboto", serif;
    --archivo: "Archivo", serif;
    --roboto-mono: "Roboto Mono", monospace;
    --basic-margin: "5vw";
    --s-basic-margin: "2.5vw"
}

.pink-text {color: var(--pink);}
.yellow-text {color: var(--yellow);}
.aqua-text {color: aqua;}
.production-note {color: lime; font-size: 14px;}
/* Deep Purple */
.deep-purple-text { color: var(--deep-purple); }
.box-section-deep-purple { border: 2px solid var(--deep-purple); box-shadow: 4px 4px 0 var(--deep-purple); }

/* Magenta */
.magenta-text { color: var(--magenta); }
.box-section-magenta { border: 2px solid var(--magenta); box-shadow: 4px 4px 0 var(--magenta); }

/* Blue */
.blue-text { color: var(--blue); }
.box-section-blue { border: 2px solid var(--blue); box-shadow: 4px 4px 0 var(--blue); }

/* Orange */
.orange-text { color: var(--orange); }
.box-section-orange { border: 2px solid var(--orange); box-shadow: 4px 4px 0 var(--orange); }

/* Yellow */
.yellow-text { color: var(--yellow); }
.box-section-yellow { border: 2px solid var(--yellow); box-shadow: 4px 4px 0 var(--yellow); }

/* White */
.white-text { color: var(--white); }
.box-section-white { border: 2px solid var(--white); box-shadow: 4px 4px 0 var(--white); }

/* Cyan */
.cyan-text { color: var(--cyan); }
.box-section-cyan { border: 2px solid var(--cyan); box-shadow: 4px 4px 0 var(--cyan); }



.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: flex-start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: flex-end; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: flex-end; justify-content: space-evenly; flex:1;}


.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}
.no-flex-grow {flex: unset;}
.full-width {width: 100%!important;}

.hide-scrollbars {scrollbar-width: none; /* Firefox */ -ms-overflow-style: none; /* Internet Explorer 10+ */}
.hide-scrollbars::-webkit-scrollbar {display: none; /* Chrome, Safari, and Edge */}

.offblack2-bg {background: var(--offblack2); color: white;}
.offblack1-bg {background: var(--offblack1); color: white;}

.basic-padding {padding: 5vw;}
.basic-padding-left-right {padding: 0 5vw;}
.basic-padding-top-bottom {padding: 5vw 0;}

.section-margin-top {margin-top: 100px!important;}

.basic-margin {margin: 5vw;}
.basic-margin-top {margin-top: 5vw;}
.basic-margin-left-right {margin: 0 5vw;}
.basic-margin-top-bottom {margin: 5vw 0;}
.basic-margin-top {margin-top: 5vw;}

.s-basic-padding {padding: 2.5vw;}
.s-basic-padding-left-right {padding: 0 2.5vw;}
.s-basic-padding-top-bottom {padding: 2.5vw 0;}

.s-basic-margin {margin: 2.5vw;}
.s-basic-margin-left-right {margin: 0 2.5vw;}
.s-basic-margin-top-bottom {margin: 2.5vw 0;}

h1 {font-size: clamp(48px, 2vw + 1.2rem, 72px); font-family: var(--archivo); font-weight: 300; }
h2 {font-size: clamp(32px, 1vw + 0.8rem, 62px); font-weight: 300;}
h3 { font-family: var(--archivo); font-weight: 500; }
h6 {font-size: 16px; line-height: 18px; padding: 0; margin: 0; text-transform: uppercase; font-family: var(--roboto-mono); font-weight: 300}
p {font-family: var(--archivo); font-size: 18px; line-height: 22px; font-weight: 200}
strong {font-weight: 700;}
.bold {font-weight: 700}
a {color: inherit;}

.font-l {font-size: 32px; line-height: 36px;}
.font-m {font-size: 24px; line-height: 28px;}

button {background: var(--pink); border: 2px solid var(--pink); color: white; padding: 10px 20px; border-radius: 2px;}
button:hover {cursor: pointer; border: 2px solid white;}

.call-to-action-button {font-family: var(--roboto-mono); font-size: 24px; text-transform: uppercase;}

.no-link-styling {text-decoration: unset;}
.centered-text {text-align: center;}
.right-text {text-align: right;}
.no-text-spacing {margin: 0; padding: 0;}

.hover:hover {cursor: pointer; transform: scale(1.05);}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.5);}
.text-shadow {text-shadow: 0 0 2px rgba(0,0,0,0.5);}

.active-link {text-decoration: underline;}

#designElixirCredits {text-decoration: none; font-size: 12px; color: black;}

@media screen and (max-width: 480px) {
  body {
    background-color: gray;
  }
}

.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
.rotate-center{-webkit-animation:rotate-center 30s ease-in-out infinite both;animation:rotate-center 30s ease-in-out infinite both}
 @-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

#particles-js {position: fixed; opacity: 0.25; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 0; pointer-events: none;}

/* Other component styling */

